RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_USER_AGENT} (googlebot|discordbot|bingbot|yahoo|duckduckbot|baiduspider|facebo|twitterbot) [NC]
RewriteCond %{REQUEST_URI} !^/static/(.*)$
RewriteRule ^(.*)$ /static/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/static/(.*)$
RewriteRule ^(.*)$ /index.php [NC,L,QSA]

ErrorDocument 403 /403.html
