<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>data.slmn.gg status</title>
    <style>
        #app {
            font-family: sans-serif;
        }
        table, th, td {
            border: 1px solid rgba(0,0,0,0.4);
            border-collapse: collapse;
        }
        th,td {
            padding: .25em .5em
        }

        .active {
            background-color: #1e8d58;
            color: white;
        }
        .errored {
            background-color: #8d1e1e;
            color: white;
        }
        .active-time {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="app">
    <table>
        <tr>
            <th></th>
            <th colspan="4">Full request</th>
            <th colspan="3">Changes request</th>
            <th></th>
        </tr>
        <tr>
            <th>Table</th>
            <th>Time</th>
            <th>Status</th>
            <th>Items</th>
            <th>Rate</th>
            <th>Time</th>
            <th>Status</th>
            <th>Items</th>
            <th title="Airtable request count">#</th>
        </tr>
        <tr v-for="table in requests">
            <th style="text-align: left">{{ table.tableName }}</th>

            <td :class="{'active-time': table.fullRequest?.status === 'active'}" style="font-family: monospace">{{ time(Math.floor((now - new Date(table.lastFullRequest)) / 1000)) }}</td>
            <td :class="table.fullRequest?.status">{{ table.fullRequest?.status }}</td>
<!--            <td>{{ table.fullRequest?.itemCount != null ? `${table.fullRequest.itemCount} item${table.fullRequest.itemCount === 1 ? '': 's'}` : null}}</td>-->
            <td :title="table.fullRequest?.status === 'errored' && table.lastError ? table?.lastError?.message : ''">{{
                    (table.fullRequest?.status === 'errored' && table.lastError ? table.lastError?.code || table.lastError?.errno : (
                            table.fullRequest?.itemCount != null ?
                                    `${table.fullRequest.itemCount} item${table.fullRequest.itemCount === 1 ? '' : 's'}` : ''
                    ))
                }}
            </td>
            
            <td style="font-family: monospace">
                <span v-if="table.fullRequest?.type === 'all' && table.fullRequest?.status === 'finished'">{{ ((table.fullRequest.duration / 1000) / table.airtableRequestCount).toFixed(2) }} s/r</span>
            </td>


            <td :class="{'active-time': table.changesRequest?.status === 'active'}" style="font-family: monospace">{{ time(Math.floor((now - new Date(table.lastChangesRequest)) / 1000)) }}</td>
            <td :class="table.changesRequest?.status">{{ table.changesRequest?.status }}</td>
            <td :title="table.changesRequest?.status === 'errored' && table.lastError ? table?.lastError?.message : ''">{{
                    (table.changesRequest?.status === 'errored' && table.lastError ? table.lastError?.code || table.lastError?.errno : (
                            table.changesRequest?.itemCount != null ?
                                    `${table.changesRequest.itemCount} item${table.changesRequest.itemCount === 1 ? '' : 's'}` : ''
                    ))
                }}
            </td>

<!--            <td :class="{'active-time': table.request?.status === 'active'}" style="font-family: monospace">{{ time(Math.floor((now - new Date(table.lastRequest)) / 1000)) }}</td>-->
<!--            <td :class="{'active-time': table.request?.status === 'active'}" style="font-family: monospace">{{ time(Math.floor((now - new Date(table.lastFullRequest)) / 1000)) }}</td>-->
<!--            <td :class="table.request?.status">{{ table.request?.status }}</td>-->
<!--            <td>{{ table.request?.type }}</td>-->
<!--            <td :class="{'active-time': table.request?.status === 'active'}" style="font-family: monospace">{{ table.request?.duration ? (table.request.duration / 1000).toFixed(1) + 's' : null}}</td>-->

            <td style="font-family: monospace">{{ table.airtableRequestCount }}</td>

<!--            <td><span v-if="table.lastError">-->
<!--                {{ time(Math.floor((now - new Date(table.lastError?.date)) / 1000)) }}-->
<!--                {{ table.lastError }}-->
<!--            </span></td>-->
        </tr>
    </table>
</div>
<script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue;
    const app = createApp({
        data: () => ({
            now: new Date(),
            requests: []
        }),
        methods: {
            async getRequestData() {
                this.now = new Date();
                this.requests = (await fetch("/api/requests").then(res => res.json())).map(table => ({
                    ...table,
                    request: table.request && ({
                        ...table.request,
                        ...(table.request.status === 'active' ? {duration: (new Date() - new Date(table.request.start))} : {})
                    })
                }))
            },
            time(secs) {
                if (isNaN(secs)) return "";
                if (secs >= 60) {
                    return `${Math.floor(secs / 60)}m ${secs % 60}s`
                }
                return `${secs % 60}s`
            }
        },
        mounted() {
            this.getRequestData();
            setInterval(() => this.getRequestData(), 200);
        }
    }).mount("#app")
</script>
</body>
</html>
